$primary-color: #023991;
$primary-color-compliment: #02915a;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#examples-dropdown {
  cursor: pointer;
}

.shop-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user {
  
  font-family: 'VT323', monospace;
  width:100%; 
  display:block;
}

.center {
  
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.homeContainer {
  display: flex;
}

.genericAvatar {
  width: 200px;
  height: 200px;
}


.avatar {
  width: '5px';
  height: '5px';
  border-radius: 50%;
}

@keyframes example {
  0%   {background-color: red;}  
  20%  {background-color: orange;}
  40%  {background-color: yellow;}
  60%  {background-color: green;}
  80% {background-color: blue;}
  100% {background-color: purple;};
}

button {
  position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#user-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#user-card-c{
  border-width:  50px;
}

#user-info-content {
  background-color: #2F2F2F;
 border-width: 5px;
  border-color: #AF00FF;
  color: #FF00FF;
  flex-direction: row;
  justify-content: space-between;
}

#user-card-content {
  background-color: #2F2F2F;
  border-width: 5px;
   border-color: #AF00FF;
   color: #FF00FF;
}

.titles {
  color: #FFE82A
}

.name {
  display: block;
  border: 2px inset black;
  width: 200px;
  text-align: center;
  padding: 0.5em;
  font-family: 'VT323', monospace;
  
}
.progress {
  
  background-color:royalblue;
  transition: background 100ms 100ms ease-in;
}
.proContainer {
  display: flex;

  width:1000px;
  height:60px;
}
.bar {
  float: right;
  width: 100%;
}


.back {
  width: 100%;
  color:gray;
}
.topicImg{
  width:60px;
  height:60px;
  padding-right:10px;
}
// ////////  QUOTE STYLISH /////////////////

.quoteContainer {

}

.author {
  

  color: #FFE82A;
}
//*********Nav Bar *********//
#sideNav {
  color: #FF00FF;
  background-color: #2F2F2F;
}

.nav_text {
  padding-left: 25px;
  padding-top: 15px;
}

.sidenav-icon {
  padding: 20px;
}